header {
  display: flex;
  justify-content: space-between;
  background-color: #7C5E99;
  border-bottom:  10px solid #000;
  padding:10px 20px;
}

nav {
  text-align: right;
}

a {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

a:before {
  content: " ";
  width:10px;
  height:10px;
  background-color: #F25A70;
  margin-right: 10px;
}

.button {
  display: inline-block;
  margin-right:0px;
  padding: 18px 20px;
  box-shadow: 5px 5px 0px #000;
  background-color: #F25A70;
}

.button:hover {
  background-color: #e06577;
} 

main {
  width: 100vw;
  height: calc(100vh - 100px);
  border-bottom:  10px solid #000;
  background-image: url('/assets/img/background.jpg');
  background-position: center, center right;
  background-size: cover;
}

.apresentation {
  position: absolute;
  top: 120px;
  left: 80px;
  width: 600px;
  padding: 20px 50px 40px;
  background-color: #3A4042;
  text-align: center;
  box-shadow: 5px 5px 0px #000;
  
}


 h2 {
  font-size: 30px;
  line-height: 30px;
  text-shadow: 4px 4px 0px #000000;;
  color: #fff;
}

.apresentation a {
  position: absolute;
  bottom: 0;
}