.main-action {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
  color: var(--color-third);
}


.main-action:before {
  content: " ";
  width:10px;
  height:10px;
  background-color: var(--color-first);
  margin-right: 10px;
}